:root {
    --primarycolor: #FF5500;
    --scolor: #FBBD22;
    --tcolor: #004921;
    --bcolor: #ffffff;
    --fcolor: #FFBBA7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Amiri", serif;
    font-size: 16px;
    color: var(--scolor);
    text-align: right;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bcolor);
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primarycolor);
    font-family: "Baskervville SC", serif;
}

h2 {
    font-size: 30px;
    cursor: pointer;
}

nav {
    background: rgba(255, 187, 167, 0.5); /* خلفية نصف شفافة */
    backdrop-filter: blur(10px); /* تأثير التمويه الخلفي */
    border-radius: 15px; /* حواف مستديرة */
    padding-top: 2.2rem;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* لإضافة ظل خفيف لجعل التأثير الزجاجي أكثر وضوحًا */
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0.8rem 1rem;
}

nav ul li a {
    color: var(--primarycolor);
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--fcolor);
}

.contant {
    flex-grow: 1;
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    font-size: 30px;
    color: var(--scolor);
}

h1 {
    font-size: 45px;
    color: var(--fcolor);
}

h5 {
    font-size: 20px;
    color: var(--scolor);
}

.textt {
    position: relative;
    bottom: 70px;
}

.cimage {
    order: -1; 
}

.mypic {
    width: 60%;
    height: 100%;
    position: relative;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    nav ul li {
        margin: 0.6rem 0.8rem;
    }

    .contant {
        flex-direction: column;
        align-items: center;
    }

    .mypic {
        width: 80%;
    }
}


@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    nav ul li {
        margin: 0.4rem 0.6rem;
    }

    .contant {
        flex-direction: column;
        align-items: center;
    }

    .mypic {
        width: 100%;
    }
}
